@import 'mixins';
$cellDimensions: 20px; 

body {
    margin: 10px; 
    background-color: grey;;
}

#map { 
    // margin: 50% 50%; 
    font-size: 1.2em;
    line-height: 1.2;
    letter-spacing: 1.2em;
    background-color: pink;
    width: auto;
}

.room {
    background-color: darkred;
    width: 80%;
    @include center();


}

.cell { 
    width: $cellDimensions; 
    height: $cellDimensions; 
    display: inline-block;
    text-align: center;    
    vertical-align: middle;
    margin: 0px; 
    border: 1px dotted black; 
    box-sizing: border-box;
    font-size: $cellDimensions * 0.8;
}

.row {
    margin: 0px; 
    padding: 0px; 
    height: $cellDimensions;
}

.level {
    border: 2px solid black;
    min-width: $cellDimensions * 25;
    @include center();
}