@import 'mixins';
$cellDimensions: 5px; 

body {
    // margin: 10px; 
    background-color: grey;;
}

#map { 
    // margin: 50% 50%; 
    // font-size: 1.2em;
    line-height: 1.2;
    // letter-spacing: 1.2em;
    // background-color: pink;
    // @include center(); 
    // width: 50vw;
}

.cell { 
    width: $cellDimensions; 
    height: $cellDimensions; 
    display: inline-block;
    text-align: center;    
    vertical-align: middle;
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    font-size: $cellDimensions * 0.8;
    font-size: 0.8em;
}

.row {
    margin: 0px; 
    padding: 0px; 
    height: $cellDimensions;
}
